body {
  margin-top: 3.9rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 400;
}

/* Section Custom */
section {
  padding: 6rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

section:nth-child(even) {
  background-color: #f1f1f1;
}

/* Carousel Custom */

.carousel-item .content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: #000 5px 0 10px;
}

.carousel-item {
  height: 65vh;
}

.carousel-image-1 {
  background: url(../img/1.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-2 {
  background: url(../img/2.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-3 {
  background: url(../img/3.jpg);
  background-size: cover;
  background-position: center;
}

/* Icon Animation */
.fas {
  padding-bottom: 1rem;
  transition: 0.3s ease-in-out;
}

.fa-building:hover {
  color: royalblue;
  transform: scale(1.1);
}

.fa-cog:hover {
  color: royalblue;
  transform: rotate(5deg) scale(1.1);
}

.fa-globe:hover {
  color: royalblue;
  transform: scale(1.1);
}

/* Custom Figure Image */
.snip1585 {
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 1.2em 0.5em;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1585 * {
  transition: all 0.45s ease;
}

.snip1585:before,
.snip1585:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 50px solid rgba(0, 0, 0, 0.5);
  border-bottom: 50px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.snip1585:before {
  transform: scaleY(2);
}

.snip1585:after {
  transform: scaleY(2);
}

.snip1585 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1585 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0s;
}

.snip1585 h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1585 h3 span {
  display: block;
  font-weight: 700;
}

.snip1585 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1585:hover > img,
.snip1585.hover > img {
  opacity: 0.7;
}

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.snip1585:hover figcaption,
.snip1585.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* Toggler */

.navbar-toggler {
  margin-top: 3px;
  border: none;
}

/* Time Line */
.wrapper {
  margin: 3.125em auto;
  padding: 1em 5em 1em;
}

.timeline {
  line-height: 1.5em;
  font-size: 0.8rem;
  transition: all 0.4s ease;
  position: relative;
  counter-reset: section;
}

.timeline::before {
  content: "";
  width: 10px;
  height: 100%;
  background: slategray;
  position: absolute;
  top: 0;
  left: -3.313em;
  border-radius: 10px 10px;
}

.timeline--entry {
  position: relative;
  background-color: #eee;
}

.timeline--entry__title {
  color: white;
  background-color: #333;
  font-weight: 300;
  font-size: 1rem;
  padding: 1em;
}

.timeline--entry__title:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -1em;
  border-right: 10px solid #333;
}

.timeline--entry__detail {
  background-color: #dddddd;
  padding: 1em;
  margin: 0;
}
.timeline--entry:before {
  content: "";
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  background-color: slategray;
  border: 0.2em solid white;
  border-radius: 50%;
  position: absolute;
  counter-increment: section;
  content: counter(section);
  text-shadow: 0 1px 0 #424242;
  left: -4.5em;
}

@media (min-width: 768px) {
  .timeline {
    display: grid;
    grid-gap: 4.75em;
    grid-template-areas: ".  entry1" "entry2  ." ". entry3" "entry4 ." ". entry5";
  }
  .timeline:before {
    left: 49.5%;
  }

  .timeline--entry:nth-child(1) {
    grid-area: entry1;
  }
  .timeline--entry:nth-child(2) {
    grid-area: entry2;
  }
  .timeline--entry:nth-child(3) {
    grid-area: entry3;
  }
  .timeline--entry:nth-child(4) {
    grid-area: entry4;
  }
  .timeline--entry:nth-child(5) {
    grid-area: entry5;
  }
  .timeline--entry:nth-of-type(odd):before {
    left: -3.8em;
  }
  .timeline--entry:nth-of-type(even):not(:nth-of-type(odd))
    .timeline--entry__title:before {
    left: 100%;
    border-left: 10px solid #333;
    border-right: 0;
  }
  .timeline--entry:nth-of-type(even):before {
    left: 103%;
  }
}
